.page {
    background: #fdde7e;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
}

.cups {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 2%;
    box-shadow: 0 2px 2px grey;
    background: white;
    padding: 0 10%;
}

.cups__bronze {
    height: 70%;
}

.cups__gold {
    height: 80%;
}

.cups__silver {
    height: 70%;
}

.cups__price{
    color: darkgreen;
    font-size: 50px;
    margin: 0;
}

.cups__name{
    font-size: 40px;
    text-transform: capitalize;
    margin: 0;
}

.cups__details {
    font-size: 15px;
   text-align: center;
}

